### <center><b> CISB123 Text Analytics </b><center>

## <center><b> Lab 8 - Text Clustering using TF-IDF Vectorizer </b><center>

### Name: Maizatul Aufa binti Zamidi (SW01082394)

In [5]:
import pandas as pd
file_path = "customer_complaints_1.csv"
df = pd.read_csv(file_path)

In [7]:
df.head()

,author,posted_on,rating,text
0,"Alantae of Chesterfeild, MI","Nov. 22, 2016",1,I used to love Comcast. Until all these consta...
1,"Vera of Philadelphia, PA","Nov. 19, 2016",1,I'm so over Comcast! The worst internet provid...
2,"Sarah of Rancho Cordova, CA","Nov. 17, 2016",1,If I could give them a negative star or no sta...
3,"Dennis of Manchester, NH","Nov. 16, 2016",1,I've had the worst experiences so far since in...
4,"Ryan of Bellevue, WA","Nov. 14, 2016",1,Check your contract when you sign up for Comca...

In [9]:
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
import re
from nltk.stem import PorterStemmer
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import nltk

In [11]:
custom_stopwords = {
    "i", "me", "my", "myself", "we", "our", "ours", "ourselves", "you", "your",
    "yours", "yourself", "yourselves", "he", "him", "his", "himself", "she",
    "her", "hers", "herself", "it", "its", "itself", "they", "them", "their",
    "theirs", "themselves", "what", "which", "who", "whom", "this", "that",
    "these", "those", "am", "is", "are", "was", "were", "be", "been", "being",
    "have", "has", "had", "having", "do", "does", "did", "doing", "a", "an",
    "the", "and", "but", "if", "or", "because", "as", "until", "while", "of",
    "at", "by", "for", "with", "about", "against", "between", "into", "through",
    "during", "before", "after", "above", "below", "to", "from", "up", "down",
    "in", "out", "on", "off", "over", "under", "again", "further", "then",
    "once", "here", "there", "when", "where", "why", "how", "all", "any",
    "both", "each", "few", "more", "most", "other", "some", "such", "no",
    "nor", "not", "only", "own", "same", "so", "than", "too", "very", "s",
    "t", "can", "will", "just", "don", "should", "now"
}

In [13]:
def preprocess_text(doc):
    stemmer = PorterStemmer()
    doc = str(doc).lower()
    doc = re.sub(r'[^a-z\s]', '', doc)
    tokens = doc.split()
    tokens = [stemmer.stem(word) for word in tokens if word not in custom_stopwords]
    return ' '.join(tokens)

In [15]:
# Apply preprocessing
df['processed_text'] = df['text'].apply(preprocess_text)